body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

header {
  padding: 3vh;
  background: #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  width: 250px;
  list-style-type: none;
  padding: 0px;
  display: flex;
  justify-content: space-between;
}

main {
  margin: 3vh;
}

.card {
  box-sizing: border-box;
  border: dotted 1px #ccc;
  width: calc(25% - 20px);
  height: auto;
  padding: 10px;
  margin: 10px;
}

.card img {
  width: calc(100% + 20px);
  height: auto;
  margin-left: -10px;
}

.resturantList {
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1000px) {
  .card {
    width: calc(50% - 20px);
  }
}

@media only screen and (max-width: 600px) {
  .card {
    width: 100%;
  }
}
