body * {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/*
Add some style blocks below this line to style the cards.
Feel free to borrow from Exercise 1.
*/
.row::after {
  content: "";
  clear: both;
  /* display: block; */
}

/* https://cs396-web-dev.github.io/winter2022/css-reference/box-model/ */
[class*="wrapper-"] {
  float: left;
  padding: 15px;
  box-sizing: border-box;
  border: dotted 1px #ccc;
  width: 30vh;
  height: auto;
  padding: 10px;
  /*
    Alternative syntax:
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    */
  margin: 10px;
  /*
    Alternative syntax:
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    */
}

[class*="wrapper-"] img {
  margin-left: -10px;
  width: calc(100% + 20px);
  height: auto;
}

[class*="wrapper-"] {
  width: 23%;
}

/* Tablet Media Query */
@media only screen and (max-width: 1000px) {
  [class*="wrapper-"] {
    width: 46%;
  }
}

/* Mobile Phone Media Query */
@media only screen and (max-width: 600px) {
  [class*="wrapper-"] {
    width: 98%;
  }
}
